m-hub-backend/data/flows.json
[
    {
        "id": "15d15759e986426e",
        "type": "tab",
        "label": "Nominatim Proxy",
        "disabled": false,
        "locked": true,
        "info": "",
        "env": []
    },
    {
        "id": "c4a71b9433368c6f",
        "type": "tab",
        "label": "Login",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bce2a8c06ab5a18b",
        "type": "tab",
        "label": "GET Building by ID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f9991baea5a014f",
        "type": "tab",
        "label": "GET User-Buildings List",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5e9d06bb159e1d2b",
        "type": "tab",
        "label": "GET User-Building",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9ec3bd5ca01925b9",
        "type": "tab",
        "label": "CREATE User-Building",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "900cdfddcd3ed460",
        "type": "tab",
        "label": "UPDATE User-Building",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fb757f2c84f9e1fb",
        "type": "tab",
        "label": "GET Documents by User-Building",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21f39893d63240a6",
        "type": "tab",
        "label": "GET Document by ID",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "bc8f71868ee8d8a0",
        "type": "tab",
        "label": "GET Documents (by filter query parameters)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de6a97be0b856cb1",
        "type": "tab",
        "label": "GET Object by ID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "232321eb69b742f0",
        "type": "tab",
        "label": "GET Objects",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0d2dcd58786ef3b7",
        "type": "tab",
        "label": "GET Part by ID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "22c7f522d447c91f",
        "type": "tab",
        "label": "GET Parts",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b4d66047ba3aad6c",
        "type": "tab",
        "label": "DELETE User-Building",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "494a592c87260810",
        "type": "tab",
        "label": "User-specific Building Data by IDs",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "407023a188d5f43b",
        "type": "tab",
        "label": "Update Building",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "7928a23a3a61c00d",
        "type": "tab",
        "label": "Buildings by User",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "0cd2d786f9f2ee5b",
        "type": "tab",
        "label": "Add Building to User",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "f85e317b58138888",
        "type": "tab",
        "label": "Add User-specific Building Data",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "cd2a82c3ad69ca34",
        "type": "tab",
        "label": "Update User-specific Building Data",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e8d2c400a518975b",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e637e22c3aa8ed51",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "m-hub-db",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "mhubdb",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "${POSTGRES_USER}",
        "userFieldType": "str",
        "password": "${POSTGRES_PASSWORD}",
        "passwordFieldType": "str"
    },
    {
        "id": "d2ec957c59f0d268",
        "type": "http in",
        "z": "15d15759e986426e",
        "name": "GET nominatim request",
        "url": "/nominatim",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "790c9d0ff207190b"
            ]
        ]
    },
    {
        "id": "790c9d0ff207190b",
        "type": "function",
        "z": "15d15759e986426e",
        "name": "build nominatim request",
        "func": "// Get query string from frontend\nconst query = msg.req.query.q || '';\n\n// Build the Nominatim URL\nconst params = new URLSearchParams({\n    format: 'json',\n    limit: '5',\n    q: `${query}, Vienna`,\n    countrycodes: 'AT',\n    email: 'simlab@tuwien.ac.at'\n});\n\nmsg.url = `https://nominatim.openstreetmap.org/search?${params.toString()}`;\n\n// Set required headers\nmsg.headers = {\n    'User-Agent': 'm-hub-frontend/1.0 (simlab@tuwien.ac.at)',\n    'Accept': 'application/json'\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 240,
        "wires": [
            [
                "ec42aa64145c1c58"
            ]
        ]
    },
    {
        "id": "c7757e85b7d43cbd",
        "type": "comment",
        "z": "15d15759e986426e",
        "name": "/nominatim?q={{query}}",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "ec42aa64145c1c58",
        "type": "http request",
        "z": "15d15759e986426e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "9327fc9939569592"
            ]
        ]
    },
    {
        "id": "9327fc9939569592",
        "type": "http response",
        "z": "15d15759e986426e",
        "name": "nominatim response",
        "statusCode": "",
        "headers": {},
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "35e4da8de6b6101d",
        "type": "http in",
        "z": "c4a71b9433368c6f",
        "name": "POST login",
        "url": "/api/auth/login",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "53c46d4af1f34725"
            ]
        ]
    },
    {
        "id": "53c46d4af1f34725",
        "type": "function",
        "z": "c4a71b9433368c6f",
        "name": "validate Inputs",
        "func": "const { email, password } = msg.payload;\n\nif (!email || !password) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Email and password required' };\n    return [null, msg];\n}\n\n// Pass email to next node\nmsg.params = [ email ];\nmsg.originalPassword = password; // store password for later bcrypt compare\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "58a6cd8caab60793"
            ],
            [
                "4f04c9f829528639"
            ]
        ]
    },
    {
        "id": "58a6cd8caab60793",
        "type": "postgresql",
        "z": "c4a71b9433368c6f",
        "name": "mhub db",
        "query": "SELECT * \nFROM users\nWHERE email = $1::varchar\nLIMIT 1;\n",
        "postgreSQLConfig": "e637e22c3aa8ed51",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 400,
        "y": 480,
        "wires": [
            [
                "76726ba4d13dadad"
            ]
        ]
    },
    {
        "id": "62f03f130bcd86e6",
        "type": "catch",
        "z": "c4a71b9433368c6f",
        "name": "",
        "scope": [
            "58a6cd8caab60793"
        ],
        "uncaught": false,
        "x": 710,
        "y": 400,
        "wires": [
            [
                "405ac6395eab3198"
            ]
        ]
    },
    {
        "id": "405ac6395eab3198",
        "type": "function",
        "z": "c4a71b9433368c6f",
        "name": "handle db errors",
        "func": "const errMsg = msg.error && msg.error.message ? msg.error.message : '';\n\nmsg.statusCode = 500; // Internal Server Error\nmsg.payload = { error: 'Database error', details: errMsg };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 400,
        "wires": [
            [
                "4f04c9f829528639"
            ]
        ]
    },
    {
        "id": "76726ba4d13dadad",
        "type": "function",
        "z": "c4a71b9433368c6f",
        "name": "compare PW & generate JWT",
        "func": "const bcrypt = global.get('bcrypt');\nconst jwt = global.get('jwt');\n\nconst rows = msg.payload;\n\nif (!rows || rows.length === 0) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid credentials' };\n    return msg;\n}\n\nconst user = rows[0];\n\nreturn bcrypt.compare(msg.originalPassword, user.password_hash)\n    .then(match => {\n        if (!match) {\n            msg.statusCode = 401;\n            msg.payload = { error: 'Invalid credentials' };\n        } else {\n            const jwtSecret = env.get('JWT_SECRET') || 'change_this_secret';\n            const token = jwt.sign(\n                { sub: user.id, username: user.username, email: user.email },\n                jwtSecret,\n                { algorithm: 'HS256', expiresIn: '6h' }\n            );\n            msg.statusCode = 200;\n            msg.payload = { token, user: { id: user.id, username: user.username, email: user.email } };\n        }\n        return msg;\n    })\n    .catch(err => {\n        msg.statusCode = 500;\n        msg.payload = { error: 'Server error', detail: err.message || err.toString() };\n        return msg;\n    });\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 600,
        "wires": [
            [
                "4f04c9f829528639",
                "fad984ef9846e648"
            ]
        ]
    },
    {
        "id": "4f04c9f829528639",
        "type": "http response",
        "z": "c4a71b9433368c6f",
        "name": "login response",
        "statusCode": "",
        "headers": {},
        "x": 940,
        "y": 540,
        "wires": []
    },
    {
        "id": "dae0f3a0b7551bc0",
        "type": "comment",
        "z": "c4a71b9433368c6f",
        "name": "http://localhost:1880/api/auth/login",
        "info": "",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "fad984ef9846e648",
        "type": "debug",
        "z": "c4a71b9433368c6f",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 720,
        "wires": []
    },
    {
        "id": "d2c6a8d7adf80877",
        "type": "http in",
        "z": "bce2a8c06ab5a18b",
        "name": "GET building",
        "url": "/api/buildings/:ID",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "5fb98f49e812cc42"
            ]
        ]
    },
    {
        "id": "8c60e8b56e57e818",
        "type": "comment",
        "z": "bce2a8c06ab5a18b",
        "name": "http://localhost:1880/api/buildings/ID",
        "info": "",
        "x": 220,
        "y": 100,
        "wires": []
    },
    {
        "id": "5fb98f49e812cc42",
        "type": "function",
        "z": "bce2a8c06ab5a18b",
        "name": "build SQL query",
        "func": "// Extract the path parameter directly from the HTTP request\nlet id = msg.req.params.ID;\n\n// Validation\nif (id === undefined || id === null) {\n  msg.statusCode = 400;\n  msg.payload = { error: \"Missing ID\" };\n  return [null, msg];\n}\nid = String(id).trim();\n\n// Enforce varchar(10) semantics (length + allowed chars)\nif (id.length > 10 || !/^[A-Za-z0-9_\\-]+$/.test(id)) {\n  msg.statusCode = 400;\n  msg.payload = { error: \"Invalid ID\" };\n  return [null, msg];\n}\n\nmsg.query = 'SELECT * FROM buildings_details WHERE bw_geb_id = $1::varchar LIMIT 1;';\nmsg.params = [ id ];\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 320,
        "wires": [
            [
                "a0069c4e61c85251"
            ],
            [
                "e6bbcca4f328c0c3"
            ]
        ]
    },
    {
        "id": "87af86091043527c",
        "type": "function",
        "z": "bce2a8c06ab5a18b",
        "name": "format result",
        "func": "if (msg.payload && msg.payload.length > 0) {\n    msg.payload = msg.payload[0];\n} else {\n    msg.statusCode = 404;\n    msg.payload = { error: \"Building not found\" };\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 580,
        "wires": [
            [
                "e6bbcca4f328c0c3"
            ]
        ]
    },
    {
        "id": "e6bbcca4f328c0c3",
        "type": "http response",
        "z": "bce2a8c06ab5a18b",
        "name": "building response",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "a0069c4e61c85251",
        "type": "postgresql",
        "z": "bce2a8c06ab5a18b",
        "name": "mhub db",
        "query": "SELECT * \nFROM buildings_details\nWHERE bw_geb_id = $1::varchar\nLIMIT 1;\n",
        "postgreSQLConfig": "e637e22c3aa8ed51",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 340,
        "y": 440,
        "wires": [
            [
                "87af86091043527c"
            ]
        ]
    },
    {
        "id": "9366b32b12b43272",
        "type": "catch",
        "z": "bce2a8c06ab5a18b",
        "name": "",
        "scope": [
            "a0069c4e61c85251"
        ],
        "uncaught": false,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "14be36d2ea81b546"
            ]
        ]
    },
    {
        "id": "14be36d2ea81b546",
        "type": "function",
        "z": "bce2a8c06ab5a18b",
        "name": "handle db errors",
        "func": "const errMsg = msg.error && msg.error.message ? msg.error.message : '';\n\nmsg.statusCode = 500; // Internal Server Error\nmsg.payload = { error: 'Database error', details: errMsg };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 440,
        "wires": [
            [
                "e6bbcca4f328c0c3"
            ]
        ]
    },
    {
        "id": "bf6ca58ae76eba17",
        "type": "http in",
        "z": "0f9991baea5a014f",
        "name": "GET buildings",
        "url": "/api/users/me/buildings",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "72ac0ce180d2ef11"
            ]
        ]
    },
    {
        "id": "8d5ec3a002182759",
        "type": "comment",
        "z": "0f9991baea5a014f",
        "name": "http://localhost:1880/api/users/me/buildings",
        "info": "",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "f6658b04f42e8a64",
        "type": "http response",
        "z": "0f9991baea5a014f",
        "name": "user-building response",
        "statusCode": "",
        "headers": {},
        "x": 980,
        "y": 580,
        "wires": []
    },
    {
        "id": "706bc03b5553fa71",
        "type": "catch",
        "z": "0f9991baea5a014f",
        "name": "",
        "scope": [
            "87fcf60f0dd03320"
        ],
        "uncaught": false,
        "x": 710,
        "y": 400,
        "wires": [
            [
                "cdb75fa8124c9ec3"
            ]
        ]
    },
    {
        "id": "cdb75fa8124c9ec3",
        "type": "function",
        "z": "0f9991baea5a014f",
        "name": "handle db errors",
        "func": "const errMsg = msg.error && msg.error.message ? msg.error.message : '';\n\nmsg.statusCode = 500; // Internal Server Error\nmsg.payload = { error: 'Database error', details: errMsg };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 400,
        "wires": [
            [
                "f6658b04f42e8a64"
            ]
        ]
    },
    {
        "id": "2b0af9e60645330b",
        "type": "postgresql",
        "z": "0f9991baea5a014f",
        "name": "mhub db",
        "query": "msg.query",
        "postgreSQLConfig": "e637e22c3aa8ed51",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 520,
        "y": 720,
        "wires": [
            [
                "3fbde0be8e115182"
            ]
        ]
    },
    {
        "id": "127514fde4322740",
        "type": "function",
        "z": "0f9991baea5a014f",
        "name": "build SQL query",
        "func": "const user_id = msg.user.sub;\n\nif (!user_id) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"Missing userId\" };\n    return [null, msg]; // Output 2 (Error)\n}\n\n// Check UUID format\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\nif (!uuidRegex.test(user_id)) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"Invalid userId format (UUID required)\" };\n    return [null, msg]; // Output 2 (Error)\n}\n\n\nmsg.query = \"SELECT * FROM user_buildings WHERE user_id = $1::uuid\";\nmsg.params = [ user_id ];\n\nreturn [msg, null]; // Output 1",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 540,
        "wires": [
            [
                "2b0af9e60645330b"
            ],
            [
                "f6658b04f42e8a64"
            ]
        ]
    },
    {
        "id": "3fbde0be8e115182",
        "type": "function",
        "z": "0f9991baea5a014f",
        "name": "format result",
        "func": "if (Array.isArray(msg.payload)) {\n    msg.statusCode = 200;\n} else {\n    msg.statusCode = 500;\n    msg.payload = { error: \"Database query failed\" };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 720,
        "wires": [
            [
                "f6658b04f42e8a64"
            ]
        ]
    },
    {
        "id": "72ac0ce180d2ef11",
        "type": "function",
        "z": "0f9991baea5a014f",
        "name": "verify JWT",
        "func": "const jwt = global.get('jwt');\nconst secret = env.get('JWT_SECRET') || 'change_this_secret';\n\n// 1. Get Header\nconst authHeader = msg.req.headers.authorization;\nif (!authHeader) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'No Authorization header' };\n    return [null, msg]; // Go to Output 2 (Error)\n}\n\n// 2. Parse Bearer Token\nconst parts = authHeader.split(' ');\nif (parts.length !== 2 || parts[0] !== 'Bearer') {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid token format' };\n    return [null, msg];\n}\nconst token = parts[1];\n\n// 3. Verify & Decode\ntry {\n    const decoded = jwt.verify(token, secret);\n\n    msg.user = decoded; \n    \n    return [msg, null]; // Go to Output 1 (Success)\n\n} catch (err) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid or expired token' };\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 400,
        "wires": [
            [
                "127514fde4322740"
            ],
            [
                "f6658b04f42e8a64"
            ]
        ]
    },
    {
        "id": "4a1fda1c33a47a7c",
        "type": "http in",
        "z": "5e9d06bb159e1d2b",
        "name": "GET user-building",
        "url": "/api/users/me/buildings/:buildingId",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "9c23fe73fb052003"
            ]
        ]
    },
    {
        "id": "59f7f6473de049d4",
        "type": "comment",
        "z": "5e9d06bb159e1d2b",
        "name": "http://localhost:1880/api/users/me/buildings/buildingId",
        "info": "",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "0882465f94c5645c",
        "type": "catch",
        "z": "5e9d06bb159e1d2b",
        "name": "",
        "scope": [
            "a7d404ed7f51c27c"
        ],
        "uncaught": false,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "33562d9591f4a131"
            ]
        ]
    },
    {
        "id": "33562d9591f4a131",
        "type": "function",
        "z": "5e9d06bb159e1d2b",
        "name": "handle db errors",
        "func": "const errMsg = msg.error && msg.error.message ? msg.error.message : '';\n\nmsg.statusCode = 500; // Internal Server Error\nmsg.payload = { error: 'Database error', details: errMsg };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 300,
        "wires": [
            [
                "e297dd6ea74e512b"
            ]
        ]
    },
    {
        "id": "9c23fe73fb052003",
        "type": "function",
        "z": "5e9d06bb159e1d2b",
        "name": "verify JWT",
        "func": "const jwt = global.get('jwt');\nconst secret = env.get('JWT_SECRET') || 'change_this_secret';\n\n// 1. Get Header\nconst authHeader = msg.req.headers.authorization;\nif (!authHeader) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'No Authorization header' };\n    return [null, msg]; // Go to Output 2 (Error)\n}\n\n// 2. Parse Bearer Token\nconst parts = authHeader.split(' ');\nif (parts.length !== 2 || parts[0] !== 'Bearer') {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid token format' };\n    return [null, msg];\n}\nconst token = parts[1];\n\n// 3. Verify & Decode\ntry {\n    const decoded = jwt.verify(token, secret);\n    \n    msg.user = decoded; \n    \n    return [msg, null]; // Go to Output 1 (Success)\n\n} catch (err) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid or expired token' };\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 260,
        "wires": [
            [
                "fc1429aa01ca710d"
            ],
            [
                "e297dd6ea74e512b"
            ]
        ]
    },
    {
        "id": "fc1429aa01ca710d",
        "type": "function",
        "z": "5e9d06bb159e1d2b",
        "name": "build SQL query",
        "func": "const user_id = msg.user.sub;\nconst building_id = msg.req.params.buildingId;\n\nif (!building_id) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"building_id is missing\" };\n    return [null, msg]; // to second output if you want an error path\n}\n\nmsg.query = \"SELECT * FROM user_buildings WHERE building_id = $1 AND user_id = $2::uuid LIMIT 1\";\nmsg.params = [building_id, user_id];\n\n return [msg, null]",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "a7d404ed7f51c27c"
            ],
            [
                "e297dd6ea74e512b"
            ]
        ]
    },
    {
        "id": "e297dd6ea74e512b",
        "type": "http response",
        "z": "5e9d06bb159e1d2b",
        "name": "user-building response",
        "statusCode": "",
        "headers": {},
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "a7d404ed7f51c27c",
        "type": "postgresql",
        "z": "5e9d06bb159e1d2b",
        "name": "mhub db",
        "query": "msg.query",
        "postgreSQLConfig": "e637e22c3aa8ed51",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 480,
        "y": 580,
        "wires": [
            [
                "fe6f645aa9b21428"
            ]
        ]
    },
    {
        "id": "fe6f645aa9b21428",
        "type": "function",
        "z": "5e9d06bb159e1d2b",
        "name": "format result",
        "func": "const rows = msg.payload;\n\nif (rows && rows.length > 0) {\n    // Case A: Data found. Return the single object.\n    msg.payload = rows[0];\n    msg.statusCode = 200;\n} else {\n    // Case B: No data found.\n    msg.payload = null; \n    msg.statusCode = 200;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 580,
        "wires": [
            [
                "e297dd6ea74e512b"
            ]
        ]
    },
    {
        "id": "10889c40765d2bc8",
        "type": "http in",
        "z": "9ec3bd5ca01925b9",
        "name": "CREATE user-building",
        "url": "/api/users/me/buildings",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "d66a80bf3ed80053"
            ]
        ]
    },
    {
        "id": "ca913cc4b2adb538",
        "type": "comment",
        "z": "9ec3bd5ca01925b9",
        "name": "http://localhost:1880/api/users/me/buildings",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "2df97eb021c9ddd6",
        "type": "postgresql",
        "z": "9ec3bd5ca01925b9",
        "name": "mhub db",
        "query": "msg.query",
        "postgreSQLConfig": "e637e22c3aa8ed51",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "01de1474e7ea7a21"
            ]
        ]
    },
    {
        "id": "bfb3ca0f8f69b04f",
        "type": "function",
        "z": "9ec3bd5ca01925b9",
        "name": "build SQL query",
        "func": "// Extract user id securly from JWT\nconst user_id = msg.user.sub;\n\n// Extract data from param\nconst { building_id, name, address, structure } = msg.payload;\n\n// Validate required fields\nif (!user_id) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"user_id is missing\" };\n    return [null, msg]; // to second output if you want an error path\n}\n\nif (!building_id) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"building_id is missing\" };\n    return [null, msg]; // to second output if you want an error path\n}\n\nif (!name || name.trim() === '') {\n    msg.statusCode = 400;\n    msg.payload = { error: \"name is required and cannot be empty.\" };\n    return [null, msg];\n}\n\nif (!structure || Object.keys(structure).length === 0) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"structure is required and cannot be empty.\" };\n    return [null, msg];\n}\n\n// SQL Insert\nmsg.query = `\n    INSERT INTO user_buildings (user_id, building_id, structure, name, address)\n    VALUES ($1, $2, $3, $4, $5)\n    RETURNING *;\n`;\n\nmsg.params = [\n    user_id,\n    building_id,\n    JSON.stringify(structure),\n    name,\n    address || null\n];\n\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 320,
        "wires": [
            [
                "2df97eb021c9ddd6"
            ],
            [
                "a691d12e6972d206"
            ]
        ]
    },
    {
        "id": "01de1474e7ea7a21",
        "type": "function",
        "z": "9ec3bd5ca01925b9",
        "name": "function success",
        "func": "// Default success\nmsg.statusCode = 201; // Created\nmsg.payload = msg.payload[0]; // Return inserted row\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 560,
        "wires": [
            [
                "a691d12e6972d206"
            ]
        ]
    },
    {
        "id": "a691d12e6972d206",
        "type": "http response",
        "z": "9ec3bd5ca01925b9",
        "name": "user-building response",
        "statusCode": "",
        "headers": {},
        "x": 1000,
        "y": 480,
        "wires": []
    },
    {
        "id": "3120672f971b7342",
        "type": "catch",
        "z": "9ec3bd5ca01925b9",
        "name": "",
        "scope": [
            "2df97eb021c9ddd6"
        ],
        "uncaught": false,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "67e809d8d7862513"
            ]
        ]
    },
    {
        "id": "67e809d8d7862513",
        "type": "function",
        "z": "9ec3bd5ca01925b9",
        "name": "handle db errors",
        "func": "const err = msg.error;\nconst errMsg = err && err.message ? err.message : '';\n\n// 1. DUPLICATE ENTRY (Specific to INSERT/UPDATE)\n// Code 23505 is standard Postgres for unique violation\nif (errMsg.includes('duplicate key') || (err.code === '23505')) {\n    msg.statusCode = 409; // Conflict\n    msg.payload = { error: 'This building has already been added for current user.' };\n} \n\n// 2. FOREIGN KEY VIOLATION (Specific to DELETE)\n// Code 23503: Occurs if you try to delete a building that is used in another table\nelse if (errMsg.includes('violates foreign key') || (err.code === '23503')) {\n    msg.statusCode = 409; // Conflict\n    msg.payload = { error: 'Cannot delete: This building is referenced by other data.' };\n}\n\n// 3. INVALID DATA TYPE (e.g. Bad UUID string)\n// Code 22P02: Invalid text representation\nelse if (errMsg.includes('invalid input syntax') || (err.code === '22P02')) {\n    msg.statusCode = 400; // Bad Request\n    msg.payload = { error: 'Invalid ID format or data type.' };\n}\n\n// 4. GENERIC FALLBACK\nelse {\n    msg.statusCode = 500; // Internal Server Error\n    msg.payload = { error: 'Database error', details: errMsg };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 300,
        "wires": [
            [
                "a691d12e6972d206"
            ]
        ]
    },
    {
        "id": "d66a80bf3ed80053",
        "type": "function",
        "z": "9ec3bd5ca01925b9",
        "name": "verify JWT",
        "func": "const jwt = global.get('jwt');\nconst secret = env.get('JWT_SECRET') || 'change_this_secret';\n\n// 1. Get Header\nconst authHeader = msg.req.headers.authorization;\nif (!authHeader) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'No Authorization header' };\n    return [null, msg]; // Go to Output 2 (Error)\n}\n\n// 2. Parse Bearer Token\nconst parts = authHeader.split(' ');\nif (parts.length !== 2 || parts[0] !== 'Bearer') {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid token format' };\n    return [null, msg];\n}\nconst token = parts[1];\n\n// 3. Verify & Decode\ntry {\n    const decoded = jwt.verify(token, secret);\n    \n    msg.user = decoded; \n    \n    return [msg, null]; // Go to Output 1 (Success)\n\n} catch (err) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid or expired token' };\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 220,
        "wires": [
            [
                "bfb3ca0f8f69b04f"
            ],
            [
                "a691d12e6972d206"
            ]
        ]
    },
    {
        "id": "b19cdc1ecf840cec",
        "type": "http in",
        "z": "900cdfddcd3ed460",
        "name": "UPDATE user-building",
        "url": "/api/users/me/buildings/:id",
        "method": "put",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "16be81ccbbf38257"
            ]
        ]
    },
    {
        "id": "23fb8feacae9c87c",
        "type": "comment",
        "z": "900cdfddcd3ed460",
        "name": "http://localhost:1880/api/users/me/buildings/userBuildingId",
        "info": "",
        "x": 290,
        "y": 100,
        "wires": []
    },
    {
        "id": "a093eee17a046ab3",
        "type": "postgresql",
        "z": "900cdfddcd3ed460",
        "name": "mhub db",
        "query": "msg.query",
        "postgreSQLConfig": "e637e22c3aa8ed51",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 360,
        "y": 480,
        "wires": [
            [
                "f2cc345901d54f14"
            ]
        ]
    },
    {
        "id": "4743208631094c91",
        "type": "function",
        "z": "900cdfddcd3ed460",
        "name": "build SQL query",
        "func": "// Extract user id securly from JWT\nconst user_id = msg.user.sub;\n\n// Extract data\nconst target_id = msg.req.params.id;\n\nconst { name, address, structure } = msg.payload;\n\n// Validate required fields\nif (!user_id) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"user_id is missing\" };\n    return [null, msg]; // to second output if you want an error path\n}\n\nif (!target_id) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"Target ID is missing\" };\n    return [null, msg]; \n}\n\nif (!name || name.trim() === '') {\n    msg.statusCode = 400;\n    msg.payload = { error: \"name is required and cannot be empty.\" };\n    return [null, msg];\n}\n\nif (!structure || Object.keys(structure).length === 0) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"structure is required and cannot be empty.\" };\n    return [null, msg];\n}\n\n// SQL Update\nmsg.query = `\n    UPDATE user_buildings\n    SET \n        structure = $1::jsonb,\n        name = $2, \n        address = $3 \n    WHERE id = $4 AND user_id = $5::uuid\n    RETURNING *;\n`;\n\nmsg.params = [\n    JSON.stringify(structure),\n    name,\n    address || null,\n    target_id,  \n    user_id\n];\n\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 360,
        "wires": [
            [
                "a093eee17a046ab3"
            ],
            [
                "7091223863935d64"
            ]
        ]
    },
    {
        "id": "f2cc345901d54f14",
        "type": "function",
        "z": "900cdfddcd3ed460",
        "name": "function success",
        "func": "const rows = msg.payload;\n\nif (rows && rows.length > 0) {\n    // SUCCESS: The row was found AND the user owned it.\n    msg.statusCode = 200;\n    msg.payload = rows[0];\n} else {\n    // FAILURE: No rows were updated.\n    msg.statusCode = 404;\n    msg.payload = { error: \"Building not found or permission denied.\" };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 580,
        "wires": [
            [
                "7091223863935d64"
            ]
        ]
    },
    {
        "id": "7091223863935d64",
        "type": "http response",
        "z": "900cdfddcd3ed460",
        "name": "user-building response",
        "statusCode": "",
        "headers": {},
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "842d7be36ab203d1",
        "type": "catch",
        "z": "900cdfddcd3ed460",
        "name": "",
        "scope": [
            "a093eee17a046ab3"
        ],
        "uncaught": false,
        "x": 610,
        "y": 380,
        "wires": [
            [
                "d36ccd1f67503ed3"
            ]
        ]
    },
    {
        "id": "d36ccd1f67503ed3",
        "type": "function",
        "z": "900cdfddcd3ed460",
        "name": "handle db errors",
        "func": "const err = msg.error;\nconst errMsg = err && err.message ? err.message : '';\n\n// 1. DUPLICATE ENTRY (Specific to INSERT/UPDATE)\n// Code 23505 is standard Postgres for unique violation\nif (errMsg.includes('duplicate key') || (err.code === '23505')) {\n    msg.statusCode = 409; // Conflict\n    msg.payload = { error: 'This building has already been added for current user.' };\n}\n\n// 2. FOREIGN KEY VIOLATION (Specific to DELETE)\n// Code 23503: Occurs if you try to delete a building that is used in another table\nelse if (errMsg.includes('violates foreign key') || (err.code === '23503')) {\n    msg.statusCode = 409; // Conflict\n    msg.payload = { error: 'Cannot delete: This building is referenced by other data.' };\n}\n\n// 3. INVALID DATA TYPE (e.g. Bad UUID string)\n// Code 22P02: Invalid text representation\nelse if (errMsg.includes('invalid input syntax') || (err.code === '22P02')) {\n    msg.statusCode = 400; // Bad Request\n    msg.payload = { error: 'Invalid ID format or data type.' };\n}\n\n// 4. GENERIC FALLBACK\nelse {\n    msg.statusCode = 500; // Internal Server Error\n    msg.payload = { error: 'Database error', details: errMsg };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 380,
        "wires": [
            [
                "7091223863935d64"
            ]
        ]
    },
    {
        "id": "16be81ccbbf38257",
        "type": "function",
        "z": "900cdfddcd3ed460",
        "name": "verify JWT",
        "func": "const jwt = global.get('jwt');\nconst secret = env.get('JWT_SECRET') || 'change_this_secret';\n\n// 1. Get Header\nconst authHeader = msg.req.headers.authorization;\nif (!authHeader) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'No Authorization header' };\n    return [null, msg]; // Go to Output 2 (Error)\n}\n\n// 2. Parse Bearer Token\nconst parts = authHeader.split(' ');\nif (parts.length !== 2 || parts[0] !== 'Bearer') {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid token format' };\n    return [null, msg];\n}\nconst token = parts[1];\n\n// 3. Verify & Decode\ntry {\n    const decoded = jwt.verify(token, secret);\n    \n    msg.user = decoded; \n    \n    return [msg, null]; // Go to Output 1 (Success)\n\n} catch (err) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid or expired token' };\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 260,
        "wires": [
            [
                "4743208631094c91"
            ],
            [
                "7091223863935d64"
            ]
        ]
    },
    {
        "id": "2d24412d7c85380b",
        "type": "http in",
        "z": "fb757f2c84f9e1fb",
        "name": "GET documents by user-building",
        "url": "/api/documents/building/:ID",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "aee9c81bcf1f1656"
            ]
        ]
    },
    {
        "id": "da2db83dcb51c18a",
        "type": "comment",
        "z": "fb757f2c84f9e1fb",
        "name": "http://localhost:1880/api/documents/building/ID",
        "info": "",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "b2175cadcd541955",
        "type": "function",
        "z": "fb757f2c84f9e1fb",
        "name": "format result",
        "func": "if (Array.isArray(msg.payload)) {\n    msg.statusCode = 200;\n} else {\n    msg.statusCode = 500;\n    msg.payload = { error: \"Database query failed\" };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 700,
        "wires": [
            [
                "d19c17a431f61114"
            ]
        ]
    },
    {
        "id": "d19c17a431f61114",
        "type": "http response",
        "z": "fb757f2c84f9e1fb",
        "name": "document response",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 700,
        "wires": []
    },
    {
        "id": "a7201c2e2ffe88b3",
        "type": "postgresql",
        "z": "fb757f2c84f9e1fb",
        "name": "mhub db",
        "query": "msg.query",
        "postgreSQLConfig": "e637e22c3aa8ed51",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 600,
        "y": 600,
        "wires": [
            [
                "b2175cadcd541955"
            ]
        ]
    },
    {
        "id": "fef8d04f4473f534",
        "type": "catch",
        "z": "fb757f2c84f9e1fb",
        "name": "",
        "scope": [
            "a7201c2e2ffe88b3"
        ],
        "uncaught": false,
        "x": 850,
        "y": 480,
        "wires": [
            [
                "d7f6c2e2d423b72d"
            ]
        ]
    },
    {
        "id": "d7f6c2e2d423b72d",
        "type": "function",
        "z": "fb757f2c84f9e1fb",
        "name": "handle db errors",
        "func": "const errMsg = msg.error && msg.error.message ? msg.error.message : '';\n\nmsg.statusCode = 500; // Internal Server Error\nmsg.payload = { error: 'Database error', details: errMsg };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 480,
        "wires": [
            [
                "d19c17a431f61114"
            ]
        ]
    },
    {
        "id": "aee9c81bcf1f1656",
        "type": "function",
        "z": "fb757f2c84f9e1fb",
        "name": "verify JWT",
        "func": "const jwt = global.get('jwt');\nconst secret = env.get('JWT_SECRET') || 'change_this_secret';\n\n// 1. Get Header\nconst authHeader = msg.req.headers.authorization;\nif (!authHeader) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'No Authorization header' };\n    return [null, msg]; // Go to Output 2 (Error)\n}\n\n// 2. Parse Bearer Token\nconst parts = authHeader.split(' ');\nif (parts.length !== 2 || parts[0] !== 'Bearer') {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid token format' };\n    return [null, msg];\n}\nconst token = parts[1];\n\n// 3. Verify & Decode\ntry {\n    const decoded = jwt.verify(token, secret);\n    \n    msg.user = decoded; \n    \n    return [msg, null]; // Go to Output 1 (Success)\n\n} catch (err) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid or expired token' };\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 280,
        "wires": [
            [
                "4366a46d47eb25c1"
            ],
            [
                "d19c17a431f61114"
            ]
        ]
    },
    {
        "id": "4366a46d47eb25c1",
        "type": "function",
        "z": "fb757f2c84f9e1fb",
        "name": "build SQL query",
        "func": "const user_id = msg.user.sub;\nconst building_id = msg.req.params.ID;\n\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\n\nif (!user_id) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"user_id is missing\" };\n    return [null, msg]; // to second output if you want an error path\n}\n\nif (!uuidRegex.test(user_id)) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"Invalid user ID format\" };\n    return [null, msg];\n}\n\nif (!building_id) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"user_building_id is missing\" };\n    return [null, msg]; // to second output if you want an error path\n}\n\nif (!uuidRegex.test(building_id)) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"Invalid building ID format\" };\n    return [null, msg];\n}\n\nmsg.query = \"SELECT * FROM documents WHERE user_building_id = $1::uuid AND owner_id = $2::uuid\";\nmsg.params = [building_id, user_id];\n\n return [msg, null]",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 440,
        "wires": [
            [
                "a7201c2e2ffe88b3"
            ],
            [
                "d19c17a431f61114"
            ]
        ]
    },
    {
        "id": "125fc0cb9525e015",
        "type": "http in",
        "z": "21f39893d63240a6",
        "name": "GET document",
        "url": "/api/documents/:ID",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "21b424d7f9790875"
            ]
        ]
    },
    {
        "id": "fc38eb3027340c5d",
        "type": "comment",
        "z": "21f39893d63240a6",
        "name": "http://localhost:1880/api/documents/ID",
        "info": "",
        "x": 290,
        "y": 100,
        "wires": []
    },
    {
        "id": "21b424d7f9790875",
        "type": "function",
        "z": "21f39893d63240a6",
        "name": "validate SQL query parameter",
        "func": "// Extract the path parameter directly from the HTTP request\nlet id = msg.req.params.ID;\n\n// Validation\nif (id === undefined || id === null) {\n  msg.statusCode = 400;\n  msg.payload = { error: \"Missing ID\" };\n  return [null, msg]; //Send to Output 2\n}\n\nid = String(id).trim();\n\n// Enforce uuid semantics (length + allowed chars)\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\n\nif (!uuidRegex.test(id)) {\n  msg.statusCode = 400;\n  msg.payload = { error: \"Invalid UUID format\" };\n  return [null, msg]; //Send to Output 2\n}\n\nmsg.params = [ id ];\nreturn [msg, null]; //Send to Output 1\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 320,
        "wires": [
            [
                "4483aa95bd222288"
            ],
            [
                "7876acc0df9f5a4e"
            ]
        ]
    },
    {
        "id": "af258860612939c4",
        "type": "function",
        "z": "21f39893d63240a6",
        "name": "format result",
        "func": "if (!msg.payload || msg.payload.length === 0) {\n    msg.statusCode = 404;\n    msg.payload = { error: \"Document not found\" };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 580,
        "wires": [
            [
                "7876acc0df9f5a4e"
            ]
        ]
    },
    {
        "id": "7876acc0df9f5a4e",
        "type": "http response",
        "z": "21f39893d63240a6",
        "name": "document response",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 580,
        "wires": []
    },
    {
        "id": "4483aa95bd222288",
        "type": "postgresql",
        "z": "21f39893d63240a6",
        "name": "mhub db",
        "query": "SELECT * \nFROM documents\nWHERE id = $1::uuid\nLIMIT 1;\n",
        "postgreSQLConfig": "e637e22c3aa8ed51",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "af258860612939c4"
            ]
        ]
    },
    {
        "id": "f8d7733ae1fa8930",
        "type": "catch",
        "z": "21f39893d63240a6",
        "name": "",
        "scope": [
            "4483aa95bd222288"
        ],
        "uncaught": false,
        "x": 670,
        "y": 360,
        "wires": [
            [
                "9a2217980666d516"
            ]
        ]
    },
    {
        "id": "9a2217980666d516",
        "type": "function",
        "z": "21f39893d63240a6",
        "name": "handle db errors",
        "func": "const errMsg = msg.error && msg.error.message ? msg.error.message : '';\n\nmsg.statusCode = 500; // Internal Server Error\nmsg.payload = { error: 'Database error', details: errMsg };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 360,
        "wires": [
            [
                "7876acc0df9f5a4e"
            ]
        ]
    },
    {
        "id": "3c129ba07320274b",
        "type": "http in",
        "z": "bc8f71868ee8d8a0",
        "name": "GET documents",
        "url": "/api/documents",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "61c2e06722aa0399"
            ]
        ]
    },
    {
        "id": "b8b50779ec0b04a0",
        "type": "comment",
        "z": "bc8f71868ee8d8a0",
        "name": "http://localhost:1880/api/documents?buildingId={buildingId}",
        "info": "",
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "317420a4aa6c1d63",
        "type": "http response",
        "z": "bc8f71868ee8d8a0",
        "name": "documents response",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 460,
        "wires": []
    },
    {
        "id": "ee29714a82a0df86",
        "type": "postgresql",
        "z": "bc8f71868ee8d8a0",
        "name": "mhub db",
        "query": "msg.query",
        "postgreSQLConfig": "e637e22c3aa8ed51",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "317420a4aa6c1d63"
            ]
        ]
    },
    {
        "id": "61c2e06722aa0399",
        "type": "function",
        "z": "bc8f71868ee8d8a0",
        "name": "build SQL query",
        "func": "// Extract query params\nconst q = msg.req.query || {};\nconst buildingId = q.buildingId ? String(q.buildingId).trim() : null;\nconst componentId = q.componentId ? String(q.componentId).trim() : null;\nconst ownerId = q.ownerId ? String(q.ownerId).trim() : null;\n\n\n// Build dynamic SQL\nlet sql = `SELECT * FROM documents WHERE 1=1`;\nconst params = [];\n\n// Append filters dynamically\nif (buildingId) {\n  params.push(buildingId);\n  sql += ` AND building_id = $${params.length}`;\n}\n\nif (componentId) {\n  params.push(componentId);\n  sql += ` AND component_id = $${params.length}`;\n}\n\nif (ownerId) {\n  params.push(ownerId);\n  sql += ` AND owner_id = $${params.length}::uuid`;\n}\n\n// Order by name (optional)\nsql += ` ORDER BY name ASC;`;\n\n// Assign query and params for PostgreSQL node\nmsg.query = sql;\nmsg.params = params;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 320,
        "wires": [
            [
                "ee29714a82a0df86"
            ]
        ]
    },
    {
        "id": "7481035bc57f59bf",
        "type": "catch",
        "z": "bc8f71868ee8d8a0",
        "name": "",
        "scope": [
            "ee29714a82a0df86"
        ],
        "uncaught": false,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "a6e2f11fe102bfbf"
            ]
        ]
    },
    {
        "id": "a6e2f11fe102bfbf",
        "type": "function",
        "z": "bc8f71868ee8d8a0",
        "name": "handle db errors",
        "func": "const errMsg = msg.error && msg.error.message ? msg.error.message : '';\n\nmsg.statusCode = 500; // Internal Server Error\nmsg.payload = { error: 'Database error', details: errMsg };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 340,
        "wires": [
            [
                "317420a4aa6c1d63"
            ]
        ]
    },
    {
        "id": "761b40565d40ce09",
        "type": "http in",
        "z": "de6a97be0b856cb1",
        "name": "GET building object",
        "url": "/api/objects/:ID",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "6ab88a8cf95768e0"
            ]
        ]
    },
    {
        "id": "56d1a6c549ee970f",
        "type": "http response",
        "z": "de6a97be0b856cb1",
        "name": "building object response",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "6ab88a8cf95768e0",
        "type": "file in",
        "z": "de6a97be0b856cb1",
        "name": "read building-objects.json",
        "filename": "/data/building-objects.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "8d075c67738d09c8"
            ]
        ]
    },
    {
        "id": "8d075c67738d09c8",
        "type": "json",
        "z": "de6a97be0b856cb1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "50ac7d124ab379c9"
            ]
        ]
    },
    {
        "id": "0e925b691cf09559",
        "type": "comment",
        "z": "de6a97be0b856cb1",
        "name": "http://localhost:1880/api/objects/ID",
        "info": "",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "ca4da345287c0b3b",
        "type": "comment",
        "z": "de6a97be0b856cb1",
        "name": "mock: fetch building-object with param ID",
        "info": "",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "bdcb53ead12034b1",
        "type": "delay",
        "z": "de6a97be0b856cb1",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 420,
        "wires": [
            [
                "56d1a6c549ee970f"
            ]
        ]
    },
    {
        "id": "50ac7d124ab379c9",
        "type": "function",
        "z": "de6a97be0b856cb1",
        "name": "find building object by id",
        "func": "// Get the object ID from the request parameters\nconst objectId = msg.req.params.ID;\n\n// Access the full building objects array (from building-objects.json)\nconst buildingObjects = msg.payload;\n\n// Search through all buildingObjects\nlet foundObject = null;\n\nfor (const buildingObject of buildingObjects) {\n    if (String(buildingObject.id) === String(objectId)) {\n        foundObject = buildingObject;\n        break;\n    }\n}\n\n// Return the component or a 404 if not found\nif (foundObject) {\n    msg.payload = foundObject;\n    return msg;\n} else {\n    msg.statusCode = 404;\n    msg.payload = { error: `Building object with ID '${objectId}' not found` };\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "bdcb53ead12034b1"
            ]
        ]
    },
    {
        "id": "05eadee52844c04e",
        "type": "http in",
        "z": "232321eb69b742f0",
        "name": "GET building objects (by buildingID)",
        "url": "/api/objects",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "7898dcfbb56b014f"
            ]
        ]
    },
    {
        "id": "98411656df376ccb",
        "type": "http response",
        "z": "232321eb69b742f0",
        "name": "building objects response",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "7898dcfbb56b014f",
        "type": "file in",
        "z": "232321eb69b742f0",
        "name": "read building-objects.json",
        "filename": "/data/building-objects.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "c6c6e8b6dc53895d"
            ]
        ]
    },
    {
        "id": "c6c6e8b6dc53895d",
        "type": "json",
        "z": "232321eb69b742f0",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "3fc6fbdd9d352722"
            ]
        ]
    },
    {
        "id": "dff5aa655ccd56cd",
        "type": "comment",
        "z": "232321eb69b742f0",
        "name": "http://localhost:1880/api/objects or http://localhost:1880/api/objects?buildingId=*",
        "info": "",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "aeb9f37f9406eb81",
        "type": "delay",
        "z": "232321eb69b742f0",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 460,
        "wires": [
            [
                "98411656df376ccb"
            ]
        ]
    },
    {
        "id": "3fc6fbdd9d352722",
        "type": "function",
        "z": "232321eb69b742f0",
        "name": "find building objects (with filter buildingId)",
        "func": "// Access query parameter\nconst buildingId = msg.req.query.buildingId;\n\n// Access the full building objects array (from building-objects.json)\nconst buildingObjects = msg.payload;\n\n\nif (buildingId) {\n    // Filter by building ID\n    const filteredObjects = buildingObjects.filter(\n        part => String(part.buildingId) === String(buildingId)\n    );\n\n    msg.payload = filteredObjects;\n    msg.statusCode = 200;\n    return msg;\n\n} else {\n    // Return all objects if no filter is provided\n    msg.payload = buildingObjects;\n    msg.statusCode = 200;\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "aeb9f37f9406eb81"
            ]
        ]
    },
    {
        "id": "38c5bdf5fd020510",
        "type": "http in",
        "z": "0d2dcd58786ef3b7",
        "name": "GET building part",
        "url": "/api/parts/:ID",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "7b23909b717f3585"
            ]
        ]
    },
    {
        "id": "914bb67ae2f5c989",
        "type": "http response",
        "z": "0d2dcd58786ef3b7",
        "name": "building part response",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 460,
        "wires": []
    },
    {
        "id": "7b23909b717f3585",
        "type": "file in",
        "z": "0d2dcd58786ef3b7",
        "name": "read building-parts.json",
        "filename": "/data/building-parts.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "7ccf3a45d7f9f2b6"
            ]
        ]
    },
    {
        "id": "7ccf3a45d7f9f2b6",
        "type": "json",
        "z": "0d2dcd58786ef3b7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "5a34de8aecbebfb2"
            ]
        ]
    },
    {
        "id": "023a251c6f9282b9",
        "type": "comment",
        "z": "0d2dcd58786ef3b7",
        "name": "http://localhost:1880/api/parts/ID",
        "info": "",
        "x": 250,
        "y": 100,
        "wires": []
    },
    {
        "id": "e82ce80049d2d44e",
        "type": "comment",
        "z": "0d2dcd58786ef3b7",
        "name": "mock: fetch building-part with param ID",
        "info": "",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "a39d4c23b45b70d0",
        "type": "delay",
        "z": "0d2dcd58786ef3b7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "914bb67ae2f5c989"
            ]
        ]
    },
    {
        "id": "5a34de8aecbebfb2",
        "type": "function",
        "z": "0d2dcd58786ef3b7",
        "name": "find building part by id",
        "func": "// Get the part ID from the request parameters\nconst partId = msg.req.params.ID;\n\n// Access the full building parts array (from building-parts.json)\nconst buildingParts = msg.payload;\n\n// Search through all buildingParts\nlet foundPart = null;\n\nfor (const buildingPart of buildingParts) {\n    if (String(buildingPart.id) === String(partId)) {\n        foundPart = buildingPart;\n        break;\n    }\n}\n\n// Return the component or a 404 if not found\nif (foundPart) {\n    msg.payload = foundPart;\n    return msg;\n} else {\n    msg.statusCode = 404;\n    msg.payload = { error: `Building part with ID '${partId}' not found` };\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "a39d4c23b45b70d0"
            ]
        ]
    },
    {
        "id": "1086f64389033747",
        "type": "http in",
        "z": "22c7f522d447c91f",
        "name": "GET building parts (by buildingID)",
        "url": "/api/parts",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "aa69c9be73bbcd0d"
            ]
        ]
    },
    {
        "id": "ba9fd107670f925b",
        "type": "http response",
        "z": "22c7f522d447c91f",
        "name": "building parts response",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "aa69c9be73bbcd0d",
        "type": "file in",
        "z": "22c7f522d447c91f",
        "name": "read building-parts.json",
        "filename": "/data/building-parts.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "e752bb8fdb331ab4"
            ]
        ]
    },
    {
        "id": "e752bb8fdb331ab4",
        "type": "json",
        "z": "22c7f522d447c91f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "f2bdba232123288c"
            ]
        ]
    },
    {
        "id": "34491f89752256f4",
        "type": "comment",
        "z": "22c7f522d447c91f",
        "name": "http://localhost:1880/api/parts or http://localhost:1880/api/parts?buildingId=*",
        "info": "",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "916af586829a967e",
        "type": "delay",
        "z": "22c7f522d447c91f",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 460,
        "wires": [
            [
                "ba9fd107670f925b"
            ]
        ]
    },
    {
        "id": "f2bdba232123288c",
        "type": "function",
        "z": "22c7f522d447c91f",
        "name": "find building parts (with filter buildingId)",
        "func": "// Access query parameter\nconst buildingId = msg.req.query.buildingId;\n\n// Access the full building parts array (from building-parts.json)\nconst buildingParts = msg.payload;\n\n\nif (buildingId) {\n    // Filter by building ID\n    const filteredParts = buildingParts.filter(\n        part => String(part.buildingId) === String(buildingId)\n    );\n\n    msg.payload = filteredParts;\n    msg.statusCode = 200;\n    return msg;\n\n} else {\n    // Return all parts if no filter is provided\n    msg.payload = buildingParts;\n    msg.statusCode = 200;\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 360,
        "wires": [
            [
                "916af586829a967e"
            ]
        ]
    },
    {
        "id": "1e8203c92a41b74b",
        "type": "http in",
        "z": "b4d66047ba3aad6c",
        "name": "DELETE user-building",
        "url": "/api/users/me/buildings/:id",
        "method": "delete",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "d4750d157f11efbd"
            ]
        ]
    },
    {
        "id": "27641ef22fdec56e",
        "type": "comment",
        "z": "b4d66047ba3aad6c",
        "name": "http://localhost:1880/api/users/me/buildings/buildingId",
        "info": "",
        "x": 280,
        "y": 80,
        "wires": []
    },
    {
        "id": "aa20010cde363a13",
        "type": "postgresql",
        "z": "b4d66047ba3aad6c",
        "name": "mhub db",
        "query": "msg.query",
        "postgreSQLConfig": "e637e22c3aa8ed51",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "233c5767a22e7f71"
            ]
        ]
    },
    {
        "id": "df17f4dd7da67a4a",
        "type": "function",
        "z": "b4d66047ba3aad6c",
        "name": "build SQL query",
        "func": "// Extract user id securly from JWT\nconst user_id = msg.user.sub;\n\n// Extract data\nconst target_id = msg.req.params.id;\n\nconst { name, address, structure } = msg.payload;\n\n// Validate required fields\nif (!user_id) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"user_id is missing\" };\n    return [null, msg]; // to second output if you want an error path\n}\n\nif (!target_id) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"Target ID is missing\" };\n    return [null, msg]; \n}\n\n// SQL Delete\nmsg.query = `\n    DELETE FROM user_buildings\n    WHERE id = $1 AND user_id = $2::uuid\n    RETURNING *;\n`;\n\nmsg.params = [\n    target_id,\n    user_id\n];\n\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 340,
        "wires": [
            [
                "aa20010cde363a13"
            ],
            [
                "d23b15a00ab28215"
            ]
        ]
    },
    {
        "id": "233c5767a22e7f71",
        "type": "function",
        "z": "b4d66047ba3aad6c",
        "name": "function success",
        "func": "const rows = msg.payload;\n\nif (rows && rows.length > 0) {\n    // Success: Return the deleted object\n    msg.statusCode = 200;\n    msg.payload = rows[0]; \n} else {\n    // Failure: No rows deleted.\n    // Either ID doesn't exist or User doesn't own it.\n    msg.statusCode = 404;\n    msg.payload = { error: \"Building not found or permission denied.\" };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 560,
        "wires": [
            [
                "d23b15a00ab28215"
            ]
        ]
    },
    {
        "id": "d23b15a00ab28215",
        "type": "http response",
        "z": "b4d66047ba3aad6c",
        "name": "user-building response",
        "statusCode": "",
        "headers": {},
        "x": 820,
        "y": 500,
        "wires": []
    },
    {
        "id": "2403ed3db4a33bf4",
        "type": "catch",
        "z": "b4d66047ba3aad6c",
        "name": "",
        "scope": [
            "aa20010cde363a13"
        ],
        "uncaught": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "7e30edb454105be7"
            ]
        ]
    },
    {
        "id": "7e30edb454105be7",
        "type": "function",
        "z": "b4d66047ba3aad6c",
        "name": "handle db errors",
        "func": "const err = msg.error;\nconst errMsg = err && err.message ? err.message : '';\n\n// 1. DUPLICATE ENTRY (Specific to INSERT/UPDATE)\n// Code 23505 is standard Postgres for unique violation\nif (errMsg.includes('duplicate key') || (err.code === '23505')) {\n    msg.statusCode = 409; // Conflict\n    msg.payload = { error: 'This building has already been added for current user.' };\n} \n\n// 2. FOREIGN KEY VIOLATION (Specific to DELETE)\n// Code 23503: Occurs if you try to delete a building that is used in another table\nelse if (errMsg.includes('violates foreign key') || (err.code === '23503')) {\n    msg.statusCode = 409; // Conflict\n    msg.payload = { error: 'Cannot delete: This building is referenced by other data.' };\n}\n\n// 3. INVALID DATA TYPE (e.g. Bad UUID string)\n// Code 22P02: Invalid text representation\nelse if (errMsg.includes('invalid input syntax') || (err.code === '22P02')) {\n    msg.statusCode = 400; // Bad Request\n    msg.payload = { error: 'Invalid ID format or data type.' };\n}\n\n// 4. GENERIC FALLBACK\nelse {\n    msg.statusCode = 500; // Internal Server Error\n    msg.payload = { error: 'Database error', details: errMsg };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 360,
        "wires": [
            [
                "d23b15a00ab28215"
            ]
        ]
    },
    {
        "id": "d4750d157f11efbd",
        "type": "function",
        "z": "b4d66047ba3aad6c",
        "name": "verify JWT",
        "func": "const jwt = global.get('jwt');\nconst secret = env.get('JWT_SECRET') || 'change_this_secret';\n\n// 1. Get Header\nconst authHeader = msg.req.headers.authorization;\nif (!authHeader) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'No Authorization header' };\n    return [null, msg]; // Go to Output 2 (Error)\n}\n\n// 2. Parse Bearer Token\nconst parts = authHeader.split(' ');\nif (parts.length !== 2 || parts[0] !== 'Bearer') {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid token format' };\n    return [null, msg];\n}\nconst token = parts[1];\n\n// 3. Verify & Decode\ntry {\n    const decoded = jwt.verify(token, secret);\n    \n    msg.user = decoded; \n    \n    return [msg, null]; // Go to Output 1 (Success)\n\n} catch (err) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Invalid or expired token' };\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 240,
        "wires": [
            [
                "df17f4dd7da67a4a"
            ],
            [
                "d23b15a00ab28215"
            ]
        ]
    },
    {
        "id": "202af4e4ff054da0",
        "type": "http in",
        "z": "494a592c87260810",
        "name": "GET user-specific building data",
        "url": "/api/user/:UID/buildings/:BID/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "790662da6c3641fa"
            ]
        ]
    },
    {
        "id": "7be045fcc2485d0b",
        "type": "function",
        "z": "494a592c87260810",
        "name": "check if building exists in user buildings",
        "func": "var buildingId = msg.req.params.BID;  // Extract building ID from URL\nvar userId = msg.req.params.UID;  // Extract user ID from URL\nvar userBuildings = msg.payload;  // Loaded JSON file\n\n// Find the matching entry\nvar userBuilding = userBuildings.find(ub => ub.userId === userId && ub.buildingId === buildingId);\n\nif (!userBuilding) {\n    // No match found -> return name and address as null\n    msg.payload = {\n        name: null,\n        address: null\n    };\n    msg.statusCode = 200;  // It's a valid request, just no user-specific data\n    return msg;\n}\n\n// Match found -> return name and address (if they exist) or null if missing\nmsg.payload = {\n    name: userBuilding.name || null,\n    address: userBuilding.address || null\n};\n\nmsg.statusCode = 200;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            [
                "28d390d5ba3f6246"
            ]
        ]
    },
    {
        "id": "1eede441926c0df5",
        "type": "http response",
        "z": "494a592c87260810",
        "name": "building in user response",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "790662da6c3641fa",
        "type": "file in",
        "z": "494a592c87260810",
        "name": "user_buildings.json",
        "filename": "/data/user_buildings.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "47aa9aa1d6055373"
            ]
        ]
    },
    {
        "id": "47aa9aa1d6055373",
        "type": "json",
        "z": "494a592c87260810",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "7be045fcc2485d0b"
            ]
        ]
    },
    {
        "id": "7a308b09bfae9098",
        "type": "comment",
        "z": "494a592c87260810",
        "name": "http://localhost:1880/api/user/UID/buildings/BID/details",
        "info": "",
        "x": 280,
        "y": 100,
        "wires": []
    },
    {
        "id": "d164877e5828f8ab",
        "type": "comment",
        "z": "494a592c87260810",
        "name": "mock: fetch user-specific building data",
        "info": "",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "28d390d5ba3f6246",
        "type": "delay",
        "z": "494a592c87260810",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "1eede441926c0df5"
            ]
        ]
    },
    {
        "id": "a2e77efc11f9785e",
        "type": "http in",
        "z": "407023a188d5f43b",
        "name": "PUT building",
        "url": "/api/building/:ID",
        "method": "put",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "7f3aa380878ec28a"
            ]
        ]
    },
    {
        "id": "51338e97cc131e66",
        "type": "function",
        "z": "407023a188d5f43b",
        "name": "update building",
        "func": "const buildingId = msg.req.params.ID; // Extract building ID from URL\nconst updatedBuilding = msg.payload;\nlet buildings = msg.buildings;\n\n// Validate required building properties\nif (!updatedBuilding || typeof updatedBuilding !== 'object') {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Missing building payload.' };\n    return [null, msg];\n}\n\nconst index = buildings.findIndex(b => b.bw_geb_id === buildingId);\n\nif (index === -1) {\n    msg.statusCode = 404;\n    msg.payload = { error: `Building with ID '${buildingId}' not found.` };\n    return [null, msg];\n}\n\n// Replace entire building object\nupdatedBuilding.bw_geb_id = buildingId; // Ensure ID remains consistent\nbuildings[index] = updatedBuilding;\n\n// Output 1: write full array\nconst writeMsg = { payload: JSON.stringify(buildings, null, 2) };\n\n// Output 2: response with updated building\nmsg.statusCode = 200;\nmsg.payload = updatedBuilding;\n\nreturn [writeMsg, msg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "5789ec208fc9cc61"
            ],
            [
                "4261897e6d6f9d07"
            ]
        ]
    },
    {
        "id": "466889aa62a2d4e3",
        "type": "http response",
        "z": "407023a188d5f43b",
        "name": "update request response",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 500,
        "wires": []
    },
    {
        "id": "7f3aa380878ec28a",
        "type": "file in",
        "z": "407023a188d5f43b",
        "name": "buildings.json",
        "filename": "/data/buildings.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "f9913b5180bc4f1c"
            ]
        ]
    },
    {
        "id": "f9913b5180bc4f1c",
        "type": "json",
        "z": "407023a188d5f43b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "5ecc60292f81cb83"
            ]
        ]
    },
    {
        "id": "e9d07dbe582dc974",
        "type": "comment",
        "z": "407023a188d5f43b",
        "name": "http://localhost:1880/api/building/ID",
        "info": "",
        "x": 280,
        "y": 60,
        "wires": []
    },
    {
        "id": "0fee26345dbd2d83",
        "type": "comment",
        "z": "407023a188d5f43b",
        "name": "mock: patch update building",
        "info": "",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "4261897e6d6f9d07",
        "type": "delay",
        "z": "407023a188d5f43b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 500,
        "wires": [
            [
                "466889aa62a2d4e3"
            ]
        ]
    },
    {
        "id": "5789ec208fc9cc61",
        "type": "file",
        "z": "407023a188d5f43b",
        "name": "updated buildings.json",
        "filename": "/data/buildings.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "5ecc60292f81cb83",
        "type": "function",
        "z": "407023a188d5f43b",
        "name": "pre-function",
        "func": "msg.buildings = msg.payload;\nmsg.payload = msg.req.body;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "51338e97cc131e66"
            ]
        ]
    },
    {
        "id": "1a99ee929f4bb38f",
        "type": "http in",
        "z": "7928a23a3a61c00d",
        "name": "GET buildings",
        "url": "/api/user/:ID/buildings",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "d22ab6e80db60931",
                "2e17b7bfa269882e"
            ]
        ]
    },
    {
        "id": "cd3718c20e42d278",
        "type": "http response",
        "z": "7928a23a3a61c00d",
        "name": "building response",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 600,
        "wires": []
    },
    {
        "id": "d22ab6e80db60931",
        "type": "file in",
        "z": "7928a23a3a61c00d",
        "name": "users.json",
        "filename": "/data/users.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "3826fe9dee562d15"
            ]
        ]
    },
    {
        "id": "3826fe9dee562d15",
        "type": "json",
        "z": "7928a23a3a61c00d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "0f98f914243af5cb"
            ]
        ]
    },
    {
        "id": "606c6a672845dccd",
        "type": "comment",
        "z": "7928a23a3a61c00d",
        "name": "http://localhost:1880/api/user/UID/buildings",
        "info": "",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "15451039e043dbed",
        "type": "comment",
        "z": "7928a23a3a61c00d",
        "name": "mock: fetch buildings with param userId",
        "info": "",
        "x": 1320,
        "y": 500,
        "wires": []
    },
    {
        "id": "423d647526ab999d",
        "type": "delay",
        "z": "7928a23a3a61c00d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 980,
        "y": 600,
        "wires": [
            [
                "cd3718c20e42d278"
            ]
        ]
    },
    {
        "id": "4bc6e44fe1289e18",
        "type": "function",
        "z": "7928a23a3a61c00d",
        "name": "find buildings by userId",
        "func": "// Extract user ID parameter from msg.req.params\nconst userId = msg.req.params.ID;\n\nconst users = msg.payload.users;\nconst buildings = msg.payload.buildings;\n\n// Check if the payload (users array) is valid\nif (!Array.isArray(users)) {\n    msg.statusCode = 500;\n    msg.payload = { error: \"Invalid users data\" };\n    return msg;\n}\n\nif (!Array.isArray(buildings)) {\n    msg.statusCode = 500;\n    msg.payload = { error: \"Invalid buildings data\" };\n    return msg;\n}\n\n// Find the user by ID\nconst user = users.find(u => u.id === userId);\n\nif (!user) {\n    msg.statusCode = 404;\n    msg.payload = { exists: false, error: `User with ID '${userId}' not found` };\n    return msg;\n}\n\n// user.buildings is an array of building IDs\nconst userBuildingIds = user.buildings || [];\n\n// Map building IDs to full building objects\nconst userBuildings = buildings.filter(b => userBuildingIds.includes(b.bw_geb_id));\n\nmsg.payload = userBuildings;\nreturn [msg, null];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 440,
        "wires": [
            [
                "423d647526ab999d",
                "4514d061075f37b0"
            ]
        ]
    },
    {
        "id": "2e17b7bfa269882e",
        "type": "file in",
        "z": "7928a23a3a61c00d",
        "name": "buildings.json",
        "filename": "/data/buildings.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 320,
        "y": 300,
        "wires": [
            [
                "ac341b81be71a03d"
            ]
        ]
    },
    {
        "id": "ac341b81be71a03d",
        "type": "json",
        "z": "7928a23a3a61c00d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "1ba15a5faebb6c4b"
            ]
        ]
    },
    {
        "id": "0f98f914243af5cb",
        "type": "change",
        "z": "7928a23a3a61c00d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "users",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 180,
        "wires": [
            [
                "df749ecb61ebd22b"
            ]
        ]
    },
    {
        "id": "1ba15a5faebb6c4b",
        "type": "change",
        "z": "7928a23a3a61c00d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "buildings",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 300,
        "wires": [
            [
                "648a7d4d9ceb65fb"
            ]
        ]
    },
    {
        "id": "df749ecb61ebd22b",
        "type": "change",
        "z": "7928a23a3a61c00d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "users",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 180,
        "wires": [
            [
                "a0e9a47e42bd9f37",
                "ce1b7a5dcfbc1613"
            ]
        ]
    },
    {
        "id": "648a7d4d9ceb65fb",
        "type": "change",
        "z": "7928a23a3a61c00d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "buildings",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 300,
        "wires": [
            [
                "ce1b7a5dcfbc1613"
            ]
        ]
    },
    {
        "id": "a0e9a47e42bd9f37",
        "type": "debug",
        "z": "7928a23a3a61c00d",
        "name": "debug users data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 60,
        "wires": []
    },
    {
        "id": "ce1b7a5dcfbc1613",
        "type": "join",
        "z": "7928a23a3a61c00d",
        "name": "join inputs",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1190,
        "y": 240,
        "wires": [
            [
                "4bc6e44fe1289e18",
                "6e9c380429b5809e"
            ]
        ]
    },
    {
        "id": "6e9c380429b5809e",
        "type": "debug",
        "z": "7928a23a3a61c00d",
        "name": "debug join data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 200,
        "wires": []
    },
    {
        "id": "4514d061075f37b0",
        "type": "debug",
        "z": "7928a23a3a61c00d",
        "name": "debug response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 400,
        "wires": []
    },
    {
        "id": "40e4e7158283284d",
        "type": "http in",
        "z": "0cd2d786f9f2ee5b",
        "name": "POST add building",
        "url": "/api/user/:UID/buildings",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "d4910f247512e86a"
            ]
        ]
    },
    {
        "id": "17384baf5cf51a55",
        "type": "function",
        "z": "0cd2d786f9f2ee5b",
        "name": "append building to user",
        "func": "// Extract user ID parameter from msg.req.params\nconst userId = msg.req.params.UID;\n\n// Extract building ID payload from msg.payload\nconst buildingId =  msg.payload.buildingId;\n\nconst users = msg.users;\n\n// Find user by ID\nconst user = users.find(u => u.id === userId);\n\nif (!user) {\n    msg.statusCode = 404;\n    msg.payload = { error: `User with ID '${userId}' not found` };\n    return [null, msg];\n}\n\n// Ensure buildings is an array\nif (!Array.isArray(user.buildings)) {\n    user.buildings = [];\n}\n\n// Append only if not already present to avoid duplicates\nif (!user.buildings.includes(buildingId)) {\n    user.buildings.push(buildingId);\n}\n\n// Output 1: write entire updated users array to file\nconst writeMsg = { payload: JSON.stringify(users, null, 2) };\n\n// Output 2: respond to client  reuse original msg to preserve req/res context\nmsg.statusCode = 200;\nmsg.payload = user;\n\nreturn [writeMsg, msg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 460,
        "wires": [
            [
                "870eeba346f6ccc9"
            ],
            [
                "a49af9af0629b6cb"
            ]
        ]
    },
    {
        "id": "afefbf7ab5b161c5",
        "type": "http response",
        "z": "0cd2d786f9f2ee5b",
        "name": "buildings array response",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "d4910f247512e86a",
        "type": "file in",
        "z": "0cd2d786f9f2ee5b",
        "name": "users.json",
        "filename": "/data/users.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "3ee93f57c37545f0"
            ]
        ]
    },
    {
        "id": "3ee93f57c37545f0",
        "type": "json",
        "z": "0cd2d786f9f2ee5b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "4d363dfea9a48309"
            ]
        ]
    },
    {
        "id": "9d527f52b2ee5208",
        "type": "comment",
        "z": "0cd2d786f9f2ee5b",
        "name": "http://localhost:1880/api/user/UID/buildings",
        "info": "",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "78f8737e64888d41",
        "type": "comment",
        "z": "0cd2d786f9f2ee5b",
        "name": "mock: append buildingId (payload) to user with userId (param)",
        "info": "",
        "x": 660,
        "y": 320,
        "wires": []
    },
    {
        "id": "a49af9af0629b6cb",
        "type": "delay",
        "z": "0cd2d786f9f2ee5b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 520,
        "wires": [
            [
                "afefbf7ab5b161c5"
            ]
        ]
    },
    {
        "id": "4d363dfea9a48309",
        "type": "function",
        "z": "0cd2d786f9f2ee5b",
        "name": "pre-function",
        "func": "msg.users = msg.payload;\nmsg.payload = msg.req.body;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 340,
        "wires": [
            [
                "17384baf5cf51a55"
            ]
        ]
    },
    {
        "id": "870eeba346f6ccc9",
        "type": "file",
        "z": "0cd2d786f9f2ee5b",
        "name": "updated user.json",
        "filename": "/data/users.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 610,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "faa427dade4613c2",
        "type": "http in",
        "z": "f85e317b58138888",
        "name": "POST user-specific building data",
        "url": "/api/user/:UID/buildings/:BID/data",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "75273458573b2e65"
            ]
        ]
    },
    {
        "id": "f5c6922760c1d470",
        "type": "function",
        "z": "f85e317b58138888",
        "name": "create list entry and append to user buildings data",
        "func": "var buildingId = msg.req.params.BID;  // Extract building ID from URL\nvar userId = msg.req.params.UID;  // Extract user ID from URL\nvar userBuildings = msg.userBuildings;  // Loaded JSON file\n\n// Extract name and address from request body\nvar name = msg.payload.name ?? null;\nvar address = msg.payload.address ?? null;\n\n// Build new entry\nvar newEntry = {\n    userId: userId,\n    buildingId: buildingId,\n    name: name,\n    address: address\n};\n\n// Append new entry\nuserBuildings.push(newEntry);\n\n// Prepare messages for outputs\nvar msgFile = { ...msg }; // Copy message for file writing\nmsgFile.payload = JSON.stringify(userBuildings, null, 2); // Save as nicely formatted JSON\n\n//var msgResponse = { payload: newEntry }; // Return only the new entry\n//return [msgFile, msgResponse];\n\nmsg.statusCode = 200;\nmsg.payload = newEntry;\n\nreturn [msgFile, msg];\n\n\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 520,
        "wires": [
            [
                "466d38a4ec1a0352"
            ],
            [
                "78ff2d6ec1e00377",
                "abfbd1601294ddee"
            ]
        ]
    },
    {
        "id": "d75c46e8ee472ada",
        "type": "http response",
        "z": "f85e317b58138888",
        "name": "building in user response",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 580,
        "wires": []
    },
    {
        "id": "75273458573b2e65",
        "type": "file in",
        "z": "f85e317b58138888",
        "name": "user_buildings.json",
        "filename": "/data/user_buildings.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "d334ae99795eeaf4"
            ]
        ]
    },
    {
        "id": "d334ae99795eeaf4",
        "type": "json",
        "z": "f85e317b58138888",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 300,
        "wires": [
            [
                "8c1f7abe123f44ff"
            ]
        ]
    },
    {
        "id": "30cb62a495ba5a64",
        "type": "comment",
        "z": "f85e317b58138888",
        "name": "http://localhost:1880/api/user/UID/buildings/BID/data",
        "info": "",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "49f75b90573c3dff",
        "type": "comment",
        "z": "f85e317b58138888",
        "name": "mock: create user-specific building data",
        "info": "",
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "78ff2d6ec1e00377",
        "type": "delay",
        "z": "f85e317b58138888",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 580,
        "wires": [
            [
                "d75c46e8ee472ada"
            ]
        ]
    },
    {
        "id": "466d38a4ec1a0352",
        "type": "file",
        "z": "f85e317b58138888",
        "name": "updated user_buildings.json",
        "filename": "/data/user_buildings.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 900,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "abfbd1601294ddee",
        "type": "debug",
        "z": "f85e317b58138888",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 660,
        "wires": []
    },
    {
        "id": "8c1f7abe123f44ff",
        "type": "function",
        "z": "f85e317b58138888",
        "name": "pre-function",
        "func": "msg.userBuildings = msg.payload;\nmsg.payload = msg.req.body;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "f5c6922760c1d470"
            ]
        ]
    },
    {
        "id": "ce080e9bb9edb12d",
        "type": "http in",
        "z": "cd2a82c3ad69ca34",
        "name": "PUT user-specific building data",
        "url": "/api/user/:UID/buildings/:BID/data",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "efd4aba11d1fbc58"
            ]
        ]
    },
    {
        "id": "2a4e92211ea6c8a6",
        "type": "function",
        "z": "cd2a82c3ad69ca34",
        "name": "update list entry for given IDs",
        "func": "var buildingId = msg.req.params.BID;  // Extract building ID from URL\nvar userId = msg.req.params.UID;  // Extract user ID from URL\nvar userBuildings = msg.userBuildings;  // Loaded JSON file\n\n// Extract name and address from request body\nvar name = msg.payload.name ?? null;\nvar address = msg.payload.address ?? null;\n\n// Find the existing entry\nvar existingEntry = userBuildings.find(entry => entry.userId === userId && entry.buildingId === buildingId);\n\nif (existingEntry) {\n    // Update the existing entry\n    existingEntry.name = name;\n    existingEntry.address = address;\n\n    // Prepare messages for outputs\n    var msgFile = { ...msg }; // Copy message for file writing\n    msgFile.payload = JSON.stringify(userBuildings, null, 2); // Save as nicely formatted JSON\n\n    msg.statusCode = 200;\n    msg.payload = existingEntry;\n\n    return [msgFile, msg];\n} else {\n    // Entry not found\n    msg.statusCode = 404;\n    msg.payload = { error: \"User-specific data for given IDs not found\" };\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 480,
        "wires": [
            [
                "0f642e31bd912756"
            ],
            [
                "047c8ee516c3fedf",
                "35eea487f0922139"
            ]
        ]
    },
    {
        "id": "2ad3445420e18398",
        "type": "http response",
        "z": "cd2a82c3ad69ca34",
        "name": "building in user response",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 540,
        "wires": []
    },
    {
        "id": "efd4aba11d1fbc58",
        "type": "file in",
        "z": "cd2a82c3ad69ca34",
        "name": "user_buildings.json",
        "filename": "/data/user_buildings.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "1ba883759f43ecb2"
            ]
        ]
    },
    {
        "id": "1ba883759f43ecb2",
        "type": "json",
        "z": "cd2a82c3ad69ca34",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "187f56ed08f35985"
            ]
        ]
    },
    {
        "id": "698d9a66113794d2",
        "type": "comment",
        "z": "cd2a82c3ad69ca34",
        "name": "http://localhost:1880/api/user/UID/buildings/BID/data",
        "info": "",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "db287f4f6647a377",
        "type": "comment",
        "z": "cd2a82c3ad69ca34",
        "name": "mock: update user-specific building data for given IDs",
        "info": "",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "047c8ee516c3fedf",
        "type": "delay",
        "z": "cd2a82c3ad69ca34",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 850,
        "y": 540,
        "wires": [
            [
                "2ad3445420e18398"
            ]
        ]
    },
    {
        "id": "0f642e31bd912756",
        "type": "file",
        "z": "cd2a82c3ad69ca34",
        "name": "updated user_buildings.json",
        "filename": "/data/user_buildings.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 880,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "35eea487f0922139",
        "type": "debug",
        "z": "cd2a82c3ad69ca34",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "187f56ed08f35985",
        "type": "function",
        "z": "cd2a82c3ad69ca34",
        "name": "pre-function",
        "func": "msg.userBuildings = msg.payload;\nmsg.payload = msg.req.body;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 360,
        "wires": [
            [
                "2a4e92211ea6c8a6"
            ]
        ]
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "67e242a6fdfa39b6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "open ifc file and convert to JSON",
        "func": "const ifcData = msg.payload\nconst ifcBuffer = new Uint8Array(ifcData)\nconst modelID = context.get(\"webIfc\").OpenModel(ifcBuffer)\nconst fragments = context.get(\"components\").get(OBC.FragmentsManager);\nconst fragmentIfcLoader = context.get(\"components\").get(OBC.IfcLoader);\nconst exported = await context.get(\"exporter\").export(context.get(\"webIfc\"), modelID)\ncontext.get(\"webIfc\").CloseModel(modelID)\nmsg.payload = exported\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Der Code hier wird ausgefhrt,\n// wenn der Node gestartet wird\nconst components = new OBC.Components()\n//components.init()\ncontext.set(\"components\", components)\nconst exporter = components.get(OBC.IfcJsonExporter)\ncontext.set(\"exporter\", exporter)\n//node.log(JSON.stringify(exporter))\nconst webIfc = new WEBIFC.IfcAPI()\n//webIfc.SetWasmPath(\"https://unpkg.com/web-ifc@0.0.57/\", true)\n//webIfc.SetWasmPath(\"\",false)\n//node.log(util.inspect(webIfc))\nawait webIfc.Init()\ncontext.set(\"webIfc\", webIfc)\n//node.log(JSON.stringify(webIfc))\n//node.log('setup completed')\n",
        "finalize": "",
        "libs": [
            {
                "var": "OBC",
                "module": "@thatopen/components"
            },
            {
                "var": "WEBIFC",
                "module": "web-ifc"
            }
        ],
        "x": 220,
        "y": 280,
        "wires": [
            [
                "dd4e97322180a29f"
            ]
        ]
    },
    {
        "id": "29efd0853df6ee13",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "b8effc12f971c9b9"
            ]
        ]
    },
    {
        "id": "b8effc12f971c9b9",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://thatopen.github.io/engine_components/resources/small.ifc",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 220,
        "wires": [
            [
                "67e242a6fdfa39b6"
            ]
        ]
    },
    {
        "id": "284c6fc27e3ce9c2",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "dd4e97322180a29f",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "/data/test.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 400,
        "y": 340,
        "wires": [
            [
                "284c6fc27e3ce9c2"
            ]
        ]
    },
    {
        "id": "e8ad80e4d0f32511",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "download https://thatopen.github.io/engine_components/resources/small.ifc",
        "info": "",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "e49eac9b2532b6c4",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "save as test.json",
        "info": "",
        "x": 400,
        "y": 380,
        "wires": []
    },
    {
        "id": "1248ce57789522dd",
        "type": "http in",
        "z": "e8d2c400a518975b",
        "name": "GET /test",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "9c7509f21076669f"
            ]
        ]
    },
    {
        "id": "9c7509f21076669f",
        "type": "template",
        "z": "e8d2c400a518975b",
        "name": "hello world (html)",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "plain",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>",
        "output": "str",
        "x": 290,
        "y": 40,
        "wires": [
            [
                "625e6556c0ae06ae"
            ]
        ]
    },
    {
        "id": "625e6556c0ae06ae",
        "type": "http response",
        "z": "e8d2c400a518975b",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 480,
        "y": 40,
        "wires": []
    }
]